<!-- 注册模块 -->
<div class="sign-up">
  <!-- brand -->
  <brand-layout></brand-layout>
  <!-- 注册表单模块 -->
  <div class="nf4-sign__sign-up">
    <!-- “注册” 标题 -->
    <div class="nf4-sign__sign-up-text">
      <span>注册</span>
    </div>
    <!-- 注册 表单div -->
    <div class="nf4-sign__sign-up-form">
      <!-- 注册表单 -->
      <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
        <!-- 手机号 -->
        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="phoneNumber" nzRequired>手机号码</nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24" [nzValidateStatus]="validateForm.controls['phoneNumber']">
            <!-- 在input前+“+86”标签 -->
            <nz-input-group nzAddOnBefore="+86">
              <input formControlName="phoneNumber" #phoneNumber nz-input (blur)="exitPhoneNum(phoneNumber.value)"
                     minlength="11" maxlength="11">
            </nz-input-group>
            <!-- 判断是否修改过&&提示错误 -->
            <nz-form-explain *ngIf="validateForm.get('phoneNumber').dirty && validateForm.get('phoneNumber').errors">
              请输入11位手机号!
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>
        <!-- 密码 -->
        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="password" nzRequired>密码</nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24">
            <input nz-input type="password" #password id="password" formControlName="password"
                   (ngModelChange)="updateConfirmValidator()">
            <!-- 判断是否修改过&&提示错误 -->
            <nz-form-explain *ngIf="validateForm.get('password').dirty && validateForm.get('password').errors">请输入密码!
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>
        <!-- 确认密码 -->
        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzValidateStatus="success" nzFor="checkPassword" nzRequired>确认密码
          </nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24">
            <input nz-input type="password" formControlName="checkPassword" id="checkPassword">
            <!-- 判断是否修改过&&提示错误 -->
            <nz-form-explain
              *ngIf="validateForm.get('checkPassword').dirty && validateForm.get('checkPassword').errors">
              <ng-container *ngIf="validateForm.get('checkPassword').hasError('required')">
                请确认密码!
              </ng-container>
              <!-- 验证两次密码是否输入一致 -->
              <ng-container *ngIf="validateForm.get('checkPassword').hasError('confirm')">
                您输入的两个密码不一致!
              </ng-container>
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>
        <!-- 用户名 -->
        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="nickname" nzRequired>
          <span>
            用户名
            <nz-tooltip nzTitle="给自己起个名字吧！">
              <i nz-tooltip class="anticon anticon-question-circle-o">请输入用户名</i>
            </nz-tooltip>
          </span>
          </nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24">
            <input nz-input #username id="nickname" formControlName="nickname">
            <!-- 判断是否修改过&&提示错误 -->
            <nz-form-explain *ngIf="validateForm.get('nickname').dirty && validateForm.get('nickname').errors">!
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>
        <!-- 验证码 -->
        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="captcha" nzRequired>验证码</nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24">
            <div nz-row [nzGutter]="8">
              <div nz-col [nzSpan]="12">
                <input #verifyCode nz-input formControlName="captcha" id="captcha">
              </div>
              <div nz-col [nzSpan]="12">
                <button nz-button nzLoading={{smsIsOnLoading}} (click)="getCaptcha(phoneNumber.value)">{{buttonValue}}
                </button>
              </div>
            </div>
            <!--<nz-form-explain *ngIf="validateForm.get('captcha').dirty && validateForm.get('captcha').errors">Please input the captcha you got!</nz-form-explain>-->
          </nz-form-control>
        </nz-form-item>
        <!-- 协议 -->
        <!--<nz-form-item nz-row style="margin-bottom:8px;">-->
        <!--<nz-form-control [nzSpan]="18" [nzOffset]="4">-->
        <!--<label nz-checkbox  formControlName="agree">-->
        <!--<span>我已阅读<a>《nf4用户协议》</a></span>-->
        <!--</label>-->
        <!--</nz-form-control>-->
        <!--</nz-form-item>-->
        <!-- 注册按钮 -->
        <nz-form-item nz-row style="margin-bottom:8px;">
          <nz-form-control [nzSpan]="14" [nzOffset]="6">
            <button nz-button nzType="primary" [disabled]="!(validateForm.valid && okPhoneNumber)"
                    (click)="toSignIn(phoneNumber.value,password.value,username.value,verifyCode.value)">注册
            </button>
            已有账号，
            <a (click)="toHomePage()">立即登录!</a>
          </nz-form-control>
        </nz-form-item>
      </form>
    </div>
  </div>
</div>
